<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Email:</h3><p>Email us directly at <span style="text-decoration: underline">tstrayer77@gmail.com</span> or fill out the form to the right.</p>
            <h3>Social Media:</h3>
            <a href="https://www.facebook.com/TheRockRoomSales/" role="button" class="btn btn-primary">Facebook Page</a>
            <a href="https://www.facebook.com/groups/528838631278884/" role="button" class="btn btn-primary">Private Facebook Group</a>
            <a href="https://www.instagram.com/ther0ckr00m/" role="button" class="btn btn-warning">Instagram</a>
            <br>
         </div>

        <div class="col-sm-6">

                <div class="input-group-sm mb-3">
                  <div class="input-group"></div>
                    <input type="text" class="form-control" placeholder="First Name" aria-label="Username" aria-describedby="basic-addon1">
                    <input type="text" class="form-control" placeholder="Last Name" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group-sm mb-3">
                  <div class="input-group-prepend"></div>
                  <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group-md mb-3">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reason for Contact</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Order Issues</a>
                      <a class="dropdown-item" href="#">Item Inquiry</a>
                      <a class="dropdown-item" href="#">Shipping Questions</a>
                    </div>
                  </div>
                </div>

                <div class="input-group">
                  <textarea class="form-control" placeholder="Please explain your concerns further." aria-label="With textarea"></textarea>
                </div>

                <br>

                <div class="input-group mb-3">
                  <label><input type="checkbox" class="mr-1">I would like to sign up to receive weekly newsletters.</label>
                </div>
            
            <a href="thankyou.php" class="btn btn-primary" type="submit" style="float:right">Submit</a>
        </div>
    </div>
</div>
