<!-- <h3 style="color: red; text-align: center;">**Disclaimer: This is an overview of the products that we carry and/or can aquire. It is not a listing of our current inventory. Please contact us with any interests.**</h3>

<br>

<div class = "row">
    <div class="col-2" style="box-sizing: border-box; display:block; text-align: left">
        <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column">
          <a class="navbar-brand" href="#">Navbar</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#item-1">Raw Mineral Specimens</a>
            <a class="nav-link" href="#item-2">Gemstone Jewelry</a>
            <a class="nav-link" href="#item-3">Polished Pieces</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ml-3 my-1" href="#item-3-1">Spheres</a>
              <a class="nav-link ml-3 my-1" href="#item-3-2">Towers/Obiesks</a>
            </nav>
            <a class="nav-link" href="#item-4">Polished Pieces</a>
            <a class="nav-link" href="#item-5">Polished Pieces</a>
          </nav>
        </nav>
    </div>
    
    <div class="col-10">
        <div data-spy="scroll" data-target="#navbar-example3" data-offset="0" class="scrollspy-example-2">
          <h4 id="item-1">Raw Mineral Specimens</h4>
            <p>...</p>
          <h4 id="item-2">Gemstone Jewelry</h4>
            <p>...</p>
          <h4 id="item-3">Polished Pieces</h4>
            <p>...</p>
          <h5 id="item-3-1">Spheres</h5>
            <p>...</p>
          <h5 id="item-3-2">Towers/Obiesks</h5>
            <p>...</p>
          <h4 id="item-4">Polished Pieces</h4>
            <p>...</p>
          <h4 id="item-5">Polished Pieces</h4>
            <p>...</p>
        </div>
    </div>
</div> -->

<create-product></create-product>

<br> 

<product-list></product-list>