
<form>
    <div class="form-row pb-4">
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class = "btn btn-secondary">-</button>
                </div>
                <input type="text" class="form-control" id="quantity" placeholder="0">
                <div class="input-group-append">
                    <button class = "btn btn-secondary">+</button>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
</form>