
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" [class.active]="viewMode =='icon'" (click)="viewMode = 'icon'">Icon View</a>
    </li>
    <li class = "nav-item">
        <a class = "nav-link" [class.active]="viewMode =='list'" (click)="viewMode = 'list'">List View</a>
    </li>
</ul>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'icon'"> 
        <div *ngFor="let product of products">
            <product>
                <ng-container class="img">{{ product.img }}</ng-container>
                <ng-container class="title">{{ product.name }}</ng-container>
                <ng-container class="body">{{ product.description }}</ng-container>
            </product>
        </div>
    </div>
    <div *ngSwitchCase="'list'">
        <ul class = "prod" [hidden]="products.length == 0">
            <li *ngFor = "let product of products" >
               <img src = ' {{ product.img }} ' /> {{ product.name }} - {{ product.description }}
               <quantity></quantity>
            </li>
        </ul>
    </div>
    <div *ngSwitchDefault>Otherwise</div>
</div>

<div [hidden] = "products.length > 0">
    Sorry, we do not currently have any products in stock.
</div>
